/* .nav__button-container:hover > .nav__button-arrow {
	transform: translateX(10px);
}

.nav__button-arrow {
	transition: linear 0.5s;
} */

/* .nav__button-container {
	transition: linear 0.5s;
} */
